#bannerContainer{
  margin-left: 5px;
  display: flex;  
}

#imgLogo {
  width: 100%;
  margin: 30px 15px 30px 0;
}

.loaderContainer{
  vertical-align: center;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 300px;
}

.loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 150px;
  width: 150px;
}