#navBar {
  background-color:#FFD700;
}

#inputSearch {
  margin-right: 10px;
}

#buttonSearch {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.grid-container {
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.btn button {
  border-style: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  background: #30a7d7;
  color: #fff;
  font-size: 1em;
}

p {
  margin: 0;
}

.Card {
  background: white;
  border-radius: 10px;
}

.Card__img {
  text-align: center;
}

.Card__types {
  display: flex;
  justify-content: center;    
}

.Card__type {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  background: cyan;
  color: #fff;
}

.Card__name {
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
}

.Card__info {
  margin-left: 10px;
}

.Card__data {
  padding-bottom: 10px;
}

.Card__data .title {
  font-weight: 700;
}